.h2 {
    padding-left: 150px;
    display: flex;
    flex-direction: row;
}
.cancel {
    margin-left: 500px;
    background-color: #a03037;
    color: #ffffff;
    width: 100px;
    border-radius: 10px;
}
button {
    cursor: pointer;
}
.media {
    margin-left: 100px;
    margin-bottom: 50px;
    padding-top: 5px;
    padding-left: 50px;
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    top: 373px;
    left: 177px;
    width: 774px;
    height: 430px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    opacity: 1;
}
.order-summary {
    margin-left: 100px;
    margin-bottom: 50px;
    padding-top: 5px;
    padding-left: 50px;
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    top: 112px;
    left: 177px;
    width: 774px;
    height: 241px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    opacity: 1;
}
.media-object {
    border-radius: 7px;
    margin-top: 60px;
    box-shadow: 0px 3px 6px black;
}
.media-body {
    flex: 1;
    padding-top: 60px;
}
.place-order {
    margin-left: 300px;
    top: 308px;
    left: 772px;
    width: 151px;
    height: 35px;
    color: white;
    background: #3371b5 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    font-size: larger;
}
.author {
    top: 340px;
    left: 196px;
    width: 150px;
    height: 12px;
    text-align: left;
    font: normal normal normal 10px/12px Lato;
    letter-spacing: 0px;
    color: #9d9d9d;
    opacity: 1;
    margin-left: 20px;
}
.bookName {
    top: 322px;
    left: 196px;
    width: 200px;
    height: 17px;
    text-align: left;
    font: normal normal normal 14px/17px Lato;
    letter-spacing: 0px;
    color: #0a0102;
    opacity: 1;
    margin-left: 20px;
}
.rate {
    top: 360px;
    left: 196px;
    width: 150px;
    height: 15px;
    text-align: left;
    font: normal normal bold 12px/15px Lato;
    letter-spacing: 0px;
    color: #0a0102;
    opacity: 1;
    margin-left: 20px;
}
.input {
    top: 428px;
    left: 213px;
    width: 251px;
    height: 45px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #dcdcdc;
    opacity: 1;
}
.label-text {
    top: 550px;
    left: 227px;
    width: 482px;
    height: 55px;
    text-align: left;
    font: normal normal normal 12px/15px Lato;
    letter-spacing: 0px;
    color: #333232;
    opacity: 1;
}