<div>
    <h2 class="h2">My Wishlist ({{wishlistItems.length}})
        <div (click)="onCart()" class="cart">My Cart ({{carts.data.length}})</div>
        <button class="cancel" (click)="cancel()">Cancel</button>
    </h2>
</div>
<div class="media" *ngFor="let item of booksInWishlist">
    <div>
        <div>
            <img class="media-object" [src]="item.logo" width="80" height="120" alt="Image is missing.">
        </div>
    </div>
    <div class="media-body">
        <h3 class="bookName">{{item.bookName}}</h3>
        <p class="author">by {{item.author}}</p>
        <p class="rate">Rs. {{item.price}}</p>
        <span class="buttons">
            <button class="deleteItem" (click)="remove(item.id)">Remove</button>
        </span>
        <button id="moveToCartChange" class="moveToCart" (click)="onMoveToCart(item.id)">Move to Cart</button>
    </div>
</div>