<div class="design">
    <h1 class="h1">Order Placed Successfully.</h1>
    <br><br><br>
    <div>
        <h3 class="h3">hurray!!! your order is confirmed the order id is <span
                *ngFor="let id of orderIds">#{{id}}</span> save the order id for further communication.</h3>
    </div>
    <table class="table">
        <tr class="table-head">
            <th>Email Us</th>
            <th>Contact Us</th>
            <th>Address</th>
        </tr>
        <tr class="table-data">
            <td>nikhilnaidu473@gmail.com</td>
            <td>+91 9398359637</td>
            <td class="address">Dr.No :- 437 , Kota Street , Pelluru , Ongole , Andhra Pradesh.</td>
        </tr>
    </table>
    <div class="button">
        <button (click)="onClick()" class="button-continue">CONTINUE SHOPPING</button>
    </div>
</div>