<header class="header-content header">
  <div class="logo-content">
    <img routerLink="Login" class="bookstore-logo" src="../assets/education.svg" alt="Image is missing.">
    <div>
      <span class="book-text">Book Store</span>
    </div>
  </div>
  <div class="logo-content">
    <div class="logo-text">
      <span class="cart-text">Cart</span>
    </div>
    <img class="cart-logo" routerLink="#" src="../assets/supermarket.svg" alt="Image is missing.">
  </div>
</header>

<router-outlet></router-outlet>

<div class="footer">
  <footer class="footer-content">
    <p class="footer-text">Copyright @2022 Bookstore Private Limited.All Rights Reserved.</p>
  </footer>
</div>